@{
    ViewData["Title"] = "Politica de confidentialitate";
}
<h1>@ViewData["Title"]</h1>

<p>Toate datele cu caracter personal vor fi utilizate doar in scopul preluarii acestora si nu vor fi transmise
    altor persoane sau institutii decat in limitele legislatiei in vigoare.</p>
