.bg-custom-dark {
    background-color: #605830;
    font-family: 'BenchNine', sans-serif;
    color: #FFFFFF;
    padding: 15px;
    padding-bottom: 5px;
}

.bg-custom-dark-gold {
    background-color: #776D3B;
    font-family: 'BenchNine', sans-serif;
    color: #3D371E;
}

.bg-custom-padding-15 {
    padding: 15px;
    padding-bottom: 5px;
}

.bg-custom-blue {
    padding: 15px;
    padding-bottom:5px;
    background-color: #21007F;
    font-family: 'BenchNine', sans-serif;
    color: #FFFFFF;
}

.bg-custom-light {
    background-color: #A2FFFF;
    font-family: 'BenchNine', sans-serif;
}

.bg-custom-beige {
    background-color: #F5F5DC;
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
}

.bg-custom-black {
    background: url(../images/bg.png) center no-repeat, url(../images/bg.jpg) bottom right no-repeat;
    background-color: #0B0B0B;
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
}

.bg-custom-golden {
    background: url(../images/bg_gold.png) center no-repeat ; /*, url(../images/bg.jpg) bottom right no-repeat; */
    background-color: palegoldenrod;
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
}

.bg-custom-dark-table {
    background-color: #E5CA72;
}

.bg-custom-light-table {
    background-color: #C6B984;
}

.bg-custom-image {
    background-image:url(../images/bg.png);
    background-position:center;
    background-repeat:no-repeat;
}

.btn-custom-dark {
    background-color: #605830;
    font-family: 'BenchNine', sans-serif;
    color: #FFFFFF;
}

.font-custom-dark {
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
    color: #21007F;
}

.font-custom-dark-gold {
    font-family: 'BenchNine', sans-serif;
    font-size: 24px;
    color: #3D371E;
}

.font-custom-blue-table {
    font-family: 'BenchNine', sans-serif;
    font-size: 16px;
    color: #21007F;
}

.font-custom-dark-table {
    font-family: 'BenchNine', sans-serif;
    font-size: 16px;
    color: #605830;
}

.font-custom-small {
    font-size: 16px;
    color: #FFFFFF;
}

.font-custom-carousel {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: #A59751;
}

.font-custom-main {
    font-family: 'Dancing Script', cursive;
    color: #A59751;
}

.font-custom-color {
    color: #A59751;
}

.align-element-to-right{
    align-items:end;
}

.navigation-buttons{
    margin-bottom:10px;
}

.navigation-buttons input{
    min-width:100px;
}

.carousel-caption-custom {
    position: absolute;
    right: 15%;
    top: 60px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #A59751;
    text-align: center;
}

.carousel-control-next-icon{
    background-image:none;
}

.carousel-control-prev-icon {
    background-image: none;
}

.item-no-padding-margin{
    padding:0;
    margin:0;
    border-spacing:0;
    border-collapse:collapse;
}
.item-minimal-padding-margin {
    padding: 5px;
    margin: 0;
    border-spacing:0;
    border-collapse:collapse;
}

.side-by-side-first{
    float: left;
    width:50%;
}

.side-by-side-second {
    padding-left:15px;
    float: left;
    width: 50%;
}

.minimal-margins{
    margin-top:5px;
    margin-bottom:5px;
}

.custom-margin-padding tr td{
    padding:5px;
    margin:0;
}

